html {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden;
}
body {
	position: relative;
	overflow-x: hidden;
	background-color: $bg-dark-white;
	color: $colorFontNormal;
	font-weight: 400;
	font-family: $fontm;
	-moz-osx-font-smoothing: grayscale !important;
	-webkit-font-smoothing: subpixel-antialiased !important;
	font-size: $fontbase;
}

h1 {
	font-size: 1.6rem;
	@include padding(3rem null);
}

.heading {
	font-size: 1.2rem;
}
