// ***********************************
// VARIABLES
// ***********************************
$bg-black: #000 !default;
$bg-white: #fff !default;
$bg-dark-white: #e6e6e6 !default;
$bg-gray: #191c1e !default;
$colorWhite: #fff !default;
$colorFontNormal: #212529 !default;
$colorGray: #ccc !default;

$fontm: Montserrat, sans-serif !default;
$fontbase: 16px !default;

$menuunderline: #65bcad !default;
$textcolor: #93b8c8 !default;
$text2color: #ebebeb !default;
$bgcolor: #1e2629 !default;
$fontColor: #000 !default;

$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1200px,
) !default;

//bootstrap active
$component-active-bg: $colorGray !default;
